*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(26, 26, 39);
}
main{
    background-color: white;
    box-shadow: 4px 4px 6px black;
    height: 250px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input,button{
    margin: 5px;
    border-radius: 5px;
    border: none;
    padding: 2px;
    box-shadow: 2px 2px 3px black;
}
button{
    cursor: pointer;
}