*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(40, 8, 70);
}
h1{
    margin: 10px;
}
.container{
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 25rem;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario{
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
label{
    margin-left: 10px;
}
input{
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 3px black;
    border-radius: 5px;
    margin: 5px;
}
button{
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 3px black;
    background-color: rgb(99, 12, 181);
    margin: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: blueviolet;
}
.error-text{
    color: red;
    margin-left: 10px;
    font-size: medium;
}
