<%- include('includes/head'); %>


<section>
    <div class="container">
        <p>Teste...</p>
        <form>
            <label for="Cliente">Cliete</label>
            <input type="text" name="Cliente" id="Cliente">
            <button>Submit</button>
        </form>
    </div>
</section>


<%- include('includes/footer'); %>
