*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(45, 7, 82);
}
.container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}