*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.controles{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
}
.controle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    
}
button{
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 3px black;
    border-radius: 5px;
}
input[type='number'],#n_objs{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 150px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.513);

}
.palco{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
}
.elemento{
    position: absolute;
    border-radius: 100px;
}